<%- include('../../dashboard/common/header') %> 
<%- include('../common/navbar') %> 

<main class="main-content mt-3">
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

  <div class="page-header align-items-start min-vh-100" style="background-image: url('/dashboard/img/illustrations/illustration-signin.jpg'); background-size: cover;">
    <span class="mask bg-gradient-dark opacity-6"></span>
    <div class="container my-auto">
      <div class="row">
        <div class="col-lg-4 col-md-8 col-12 mx-auto">
          <div class="card z-index-0 fadeIn3 fadeInBottom">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
              <div class="bg-gradient-primary shadow-primary border-radius-lg py-3 pe-1">
                <h4 class="text-white font-weight-bolder text-center mt-2 mb-0">Recover Account</h4>
              </div>
            </div>
            <div class="card-body">
              <%- include('../../errors/validation-errors/express-validator-erros')  %>
              <form role="form" id='form' class="text-start" action="/recovery" method="post">
                <div class="input-group input-group-outline my-3">
                  <label class="form-label">Code</label>
                  <input type="text" name="code" class="form-control" required>
                </div>
                <div class="input-group input-group-outline my-3">
                  <label class="form-label">New Password</label>
                  <input type="password" name="newPassword" class="form-control" required>
                </div>
                <div class="text-center">
                  <button type="submit" id='sendBtn' class="btn bg-gradient-primary w-100 my-4 mb-2">Send Recovery Email</button>
                </div>
              </form>
            </div>
            <p class="mb-5 text-sm mx-auto">
              Remember Password?
              <a href="/" class="text-primary text-gradient font-weight-bold">Sign in</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <script>
        document.getElementById('sendBtn').addEventListener('click', function(e) {
        e.preventDefault(); // prevent the form from submitting normally
        swal('Submitted!', ''); // show the SweetAlert success message       
          setTimeout(() => {
            document.getElementById('form').submit(); // submit form here
          }, 2000);
        });
    </script>
    <footer class="footer position-absolute bottom-2 py-2 w-100">
      <div class="container">
        <div class="row align-items-center justify-content-lg-between">
          <div class="col-12 col-md-6 my-auto">
            <div class="copyright text-center text-sm text-white text-lg-start">
              © <script>
                document.write(new Date().getFullYear())
              </script>,
                 made with <i class="fa fa-heart"></i> by
                 Cryptplus for a better way of living.
            </div>
          </div>
          <div class="col-12 col-md-6">
            <ul class="nav nav-footer justify-content-center justify-content-lg-end">
              <li class="nav-item">
                <a href="https://discord.gg/4fbvKeyv" class="nav-link pe-0 text-white" target="_blank">Contact Us</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </div>
</main>

<%- include('../../dashboard/common/footer') %> 